<header class="header py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <div class="lead-text">
            <h1 class="display-4 fw-bolder">Cat Paw's</h1>
                <p class="lead fw-normal text-dark-50 mb-0">Make your cat happy, like your cat make you happy.</p>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <% if (success && success.length) { %>
        <div class="alert alert-success">
            <%= success[0] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <% if (error && error.length) { %>
        <div class="alert alert-danger">
            <%= error[0] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
<div class="row mb-0">
    <!-- Sidebar (on the left) -->
    <div class="col-md-2 ml-auto">
        <div class="mb-4">
    <!-- search for product -->
        <h4>Search For Product:</h4>
        <form action="/" method="GET" class="d-flex flex-column">
            <div class="mb-3">
                <!-- Sort by type -->
                <label for="sort" class="form-label"><i class="fa-solid fa-folder-open" style="color: #000000;"></i> Select Type :</label>
                <select name="sort" id="sort" class="form-select">
                    <option value="createdAt-asc" <% if (sortBy === 'createdAt-asc') { %>selected<% } %>>Newest</option>
                    <option value="createdAt-desc" <% if (sortBy === 'createdAt-desc') { %>selected<% } %>>Oldest</option>
                    <option value="price-asc" <% if (sortBy === 'price-asc') { %>selected<% } %>>Price (Low to High)</option>
                    <option value="price-desc" <% if (sortBy === 'price-desc') { %>selected<% } %>>Price (High to Low)</option>
                </select>
            </div>
            <div class="mb-3">
    <!-- Sort by category -->
                <label for="categoryFilter" class="form-label"><i class="fa-solid fa-folder-open" style="color: #000000;"></i> Select Category :</label>
                <select name="categoryFilter" id="categoryFilter" class="form-select">
                    <option value="categories" <% if (categoryFilter === 'categories') { %>selected<% } %>>Every Category</option>
                    <option value="toys" <% if (categoryFilter === 'toys') { %>selected<% } %>>Toys</option>
                    <option value="furniture" <% if (categoryFilter === 'furniture') { %>selected<% } %>>Furniture</option>
                    <option value="food" <% if (categoryFilter === 'food') { %>selected<% } %>>Food & Water Bowl</option>
                    <option value="litter" <% if (categoryFilter === 'litter') { %>selected<% } %>>Litter</option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-dark">Sort</button>
        </form>
        <br>
    <!-- Search bar -->
        <form action="/" method="GET" class="d-flex flex-column">
                <label for="search" class="mb-2"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i> Search :</label>
                <input type="text" name="search" id="search" value="<%= search %>" placeholder="Product name..." class="form-control mb-3">
                <button type="submit" class="btn btn-outline-dark">Search</button>
        </form>
        </div> 
    </div>
    <!-- PRODUCT -->
    <div class="shoppingpage col-md-10">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            <!-- product all of details -->
            <% products.forEach(function(product) { %>
                <% if (product.productStatus === 'active') { %>
                    <div class="col mb-4">
                        <div class="card h-100">
                            <div class="card-img-container">
                                <img class="card-img-top" src="<%= product.image %>" alt="<%= product.name %>">
                                <div class="overlay">
                                    <a href="/product/<%= product._id %>"><div class="overlay-text">More Details</div></a>
                                </div>
                            </div>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="productname fw-bolder"><%= product.name %></h5>
                                    <% if (product.quantity > 0) { %>
                                        <small style="color: green;">In stock:</small><small> <%= product.quantity %></small><br>
                                    <% } else { %>
                                        <small style="color: red;">Out of stock</small><br>
                                    <% } %>                                    
                                    ฿ <%= product.price.toLocaleString(); %>
                                </div>
                            </div>

                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <% if (!req.isAuthenticated()) { %>
                                        <a class="btn btn-outline-dark mt-auto shadow-0" href="/user/login"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
                                    <% } else { %>
                                        <form method="POST" action="/product/<%= product._id %>/add-to-cart">
                                            <button type="submit" class="btn btn-outline-dark mt-auto shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </button>
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
    </div>
</div>
</div>
