
<section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <a href="/" class="text-dark text-decoration-none"><i class="fa-solid fa-circle-chevron-left" style="color: #000000;"></i> Shop More</a>

    <% if (error && error.length) { %>
      <div class="alert alert-danger">
        <%= error[0] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %>

    <% if (success && success.length) { %>
      <div class="alert alert-success">
        <%= success[0] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %>

    <!-- Shopping Cart -->
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="h5">Shopping Bag</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <% if (cart.length === 0) { %>
              <tr>
                <td colspan="4">
                  <p>No item or product has been added to the cart yet.</p>
                </td>
              </tr>
            <% } else { %>
              <% cart.forEach(item => { %>
                <% if (item.quantity < 0) { %>
                  <tr>
                    <td colspan="4">
                      <p>No item has selected.</p>
                    </td>
                  </tr>
                <% } else { %>
                  <tr>
                    <th scope="row">
                      <div class="d-flex align-items-center">
                        <img src="<%= item.product.image %>" class="img-fluid rounded-3" style="width: 120px;" alt="<%= item.product.name %>">
                        <div class="flex-column ms-4">
                          <p class="mb-2"><%= item.product.name %></p>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle">
                      <div class="d-flex flex-row">
                        <form action="/order/subtract/<%= item.product._id %>" method="POST">
                          <button type="submit" class="btn btn-outline-dark btn-sm">
                            <i class="fas fa-minus"></i>
                          </button>
                        </form>

                        <input id="buyQuantity" min="1" name="buyQuantity" value="<%= item.buyQuantity %>" type="number" class="form-control form-control-sm no-spinners text-center" style="width: 50px;" />

                        <form action="/order/plus/<%= item.product._id %>" method="POST">
                          <button type="submit" class="btn btn-outline-dark btn-sm">
                            <i class="fas fa-plus"></i>
                          </button>
                        </form>
                      </div>
                    </td>
                    <td class="align-middle">
                      <p class="mb-0" style="font-weight: 500;">฿ <%= item.product.price.toLocaleString() %></p>
                    </td>
                    <td class="align-middle">
                      <form action="/cart/remove/<%= item.product._id %>" method="POST">
                        <button type="submit" class="btn btn-link mb-0"><i class="fa-solid fa-trash-can" style="color: #ce2222;"></i></button>
                      </form>
                    </td>
                  </tr>
                <% } %>
              <% }); %>
            <% } %>
          </tbody>
        </table>
      </div>

      <!-- SHIPPING -->
      <form action="/order/payment" method="GET">
        <div class="d-flex justify-content-between align-items-center" style="font-weight: 500;">
          <div class="mb-0">
            <p class="mb-0">Select shipping:</p>
            <select name="shippingMethod" class="form-select mb-3">
              <option value="standard">Standard Delivery ฿32</option>
              <option value="EMS">EMS ฿50</option>
            </select>
          </div>
          <% if (cart.length === 0) { %>
          <% } else { %>
          <button class="btn btn-dark btn-block btn-lg text-center" type="submit">
            Proceed to payment
          </button>
          <% } %>
        </div>
      </form>

    </div>
  </div>
</section>
